/* ==========================================================
   GLOBAL STYLES
   ========================================================== */
QWidget {
    font-family: "Segoe UI", Arial;
    font-size: 12pt;
}

QPushButton {
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    padding: 8px;
}

QPushButton:hover{
    color: #1d3f55;
}

QStackedWidget {
    background-color: #f5f7f9;
}

/* Estilo de la tabla */
QTableWidget {
    background-color: white;
    border: 1px solid #dee2e6;
    gridline-color: #f1f1f1;
    border-radius: 8px;
}

QHeaderView::section {
    background-color: #f8f9fa;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #2c7893;
    font-weight: bold;
}

QLineEdit, QDoubleSpinBox, QSpinBox, QComboBox {
    padding: 6px;
    border: 1px solid #dcdde1;
    border-radius: 4px;
    background-color: #f5f6fa;
}

QLineEdit:focus {
    border: 1px solid #3498db;
    background-color: #ffffff;
}

QLabel {
    font-weight: bold;
    color: #2f3640;
}


/* ==========================================================
  STYLE INVENTORY
   ========================================================== */
QPushButton#btn_update {
    background-color: #5dade2;
    border-radius: 4px;
    color: white;
    padding: 6px 12px;
}

QPushButton#btn_update:hover {
    background-color: #1dd2f1;
    color: white;
}

QPushButton#btn_export {
    background-color: #27ae60;
    border-radius: 4px;
    color: white;
    padding: 6px 12px;
}

QPushButton#btn_export:hover {
    background-color: #59ff4a;
    color: white;
}

QPushButton#btn_add_product{
    background-color: #f1c40f;  
    border-radius: 4px;
    color: white;
    padding: 6px 12px;
}

QPushButton#btn_add_product:hover {
    background-color: #ffcc00;
    color: white;
}

QPushButton#btn_edit {
    background-color: #2c7893;
    color: white;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 11px;
    margin: 2px;
}

QPushButton#btn_edit:hover {
    background-color: #1e5a70;
}



/* ==========================================================
   STYLE DIALOG ADD PRODUCT 
   ========================================================== */

QDialog#product_dialog {
    background-color: #ffffff;
}

QPushButton#btn_save {
    background-color: #27ae60; /* Verde para indicar creación */
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

QPushButton#btn_save:hover {
    background-color: #2ecc71;
}



/* ==========================================================
   STYLE LOGIN
   ========================================================== */
QWidget#login_view {
    background-color: qlineargradient(
    spread:pad, x1:0, y1:0, x2:0, y2:1, 
    stop:0 #E3F2FD,   /* Azul muy pálido, casi blanco */
    stop:0.4 #78ADC2, /* Tono intermedio */
    stop:1 #35c7f3    /* Tu azul base */
);
    border-radius: 15px;
}

QPushButton#btn_forgot_password{
    color: #ffffffff;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 11px;
}

QPushButton#btn_forgot_password:hover {
    color: #bad9f0;
}
/* ==========================================================
   STYLE MAIN WINDOW
   ========================================================== */
QFrame#sidebar {
    background-color: #2c7893; /* El azul de tu imagen */
    border: none;
}

QLabel#lbl_logo {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 10px;  
}

/* Buttons sidebar */
QPushButton#btn_sidebar {
    background-color: transparent;
    color: #e0e0e0;
    text-align: left;
    padding: 12px 15px;
    border: none;
    font-size: 14px;
}


QPushButton#btn_sidebar:hover {
    background-color: #3d8da8;
    color: white;
}


/* ==========================================================
   STYLES SALES
   ========================================================== */
QPushButton#btn_open_register {
    background-color: transparent;
    color: #1f8ac9;
    border: 1px solid #1f8ac9;
}

QPushButton#btn_open_register:hover {
    background-color: #1dd2f1;
    color: white;
}

QPushButton#btn_close_register {
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

QPushButton#btn_close_register:hover {
    background-color: #e74c3c;
    color: white;
}


QPushButton#btn_add_to_cart{
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

QPushButton#btn_add_to_cart:hover {
    background-color: #1dd2f1;
    color: white;
}


QPushButton#btn_pay {
    background-color: #27ae60;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}


QPushButton#btn_pay:hover {
    background-color: #13d664;
    color: white;
}

QPushButton#btn_clean {
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

QPushButton#btn_clean:hover {
    background-color: #e74c3c;
    color: white;
}

QComboBox#combo_search_product{
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    background-color: #fdfdfd;
}

QComboBox#combo_discount_type{
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
    background-color: #fdfdfd;
}
/* ==========================================================
   ESTILOS ESPECÍFICOS DE DIALOGO CONFIRMAR PAGO
   ========================================================== */

QDialog#VentanaPago {
    background-color: #ffffff;
}

/* Contenedor de Totales */
QFrame#ContenedorResumen {
    background-color: #2c3e50;
    border-radius: 8px;
    padding: 10px;
}

QLabel#LabelTotal {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
}

QLabel#LabelRestante {
    color: #f1c40f; /* Amarillo para resaltar lo que falta */
    font-size: 18px;
    font-weight: bold;
}

QComboBox#ComboMedioPago{
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    background-color: #fdfdfd;
}

QLineEdit#EntradaMonto{
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    background-color: #fdfdfd;
}

QLineEdit#EntradaMonto:focus {
    border-color: #3498db;
}

/* Botón Añadir Pago */
QPushButton#BtnAnadir {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
}

QPushButton#BtnAnadir:hover {
    background-color: #2980b9;
    color: white;
}

QPushButton#BtnAnadir:disabled {
    background-color: #bdc3c7;
}


/* Lista de Pagos */
QListWidget#ListaPagos {
    border: 1px solid #dcdde1;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 13px;
    color: #2f3640;
}

/* Botón Limpiar */
QPushButton#BtnLimpiar {
    background-color: transparent;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    font-size: 11px;
    padding: 3px 8px;
    border-radius: 3px;
}

QPushButton#BtnLimpiar:hover {
    background-color: #e74c3c;
    color: white;
}

/* Vuelto y Factura */
QLabel#LabelVuelto {
    font-size: 20px;
    font-weight: bold;
    color: #27ae60;
}

QCheckBox#CheckFactura {
    font-weight: bold;
    color: #7f8c8d;
}

/* Botones Finales */
QPushButton#BtnConfirmar {
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 15px;
}

QPushButton#BtnConfirmar:disabled {
    background-color: #bdc3c7;
}

QPushButton#BtnConfirmar:hover {
    background-color: #13d664;
    color: white;
}


QPushButton#BtnCancelar {
    background-color: #ecf0f1;
    color: #7f8c8d;
    font-size: 14px;
    border-radius: 8px;
    padding: 10px;
}

/* ==========================================================
   STYLES OPEN BOX
   ========================================================== */
QDialog#OpenBoxDialog {
    background-color: #ffffff;
}

QFrame#header_open_register {
    background-color: #34495e;
    border-radius: 10px;
    padding: 10px;
}

QLabel#lbl_title_open_register {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

QLabel#lbl_opening_information {
    color: #ecf0f1;
    font-size: 12px;
    font-weight: bold;
}


QLabel#lbl_instruction_open_register {
    font-weight: bold; 
    color: #2c3e50;
    font-size: 18px;
}

QLineEdit#input_initial_amount {
    font-size: 20px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    padding-left: 8px;
    background-color: #f9f9f9;
}

QLineEdit#input_initial_amount:focus {
    border-color: #3498db;
    background-color: #ffffff;
}

QPushButton#btn_confirm_open_register {
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
}

QPushButton#btn_confirm_open_register:hover {
    background-color: #2ecc71;
}

QPushButton#btn_confirm_open_register:pressed {
    background-color: #1e8449;
}


/* ==========================================================
   STYLES CLOSE REGISTER
   ========================================================== */

QDialog#CloseRegisterDialog {
    background-color: #ffffff;
}

QFrame#frame_header_close_register {
    background-color: #2c3e50;
    border-radius: 8px;
    padding: 12px;
}

QLabel#lbl_title_summary_close_register {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

QLabel#lbl_info_card_and_transfer{
    color: #dbdfe2;
    font-size: 13px;
}

QFrame#frame_card_and_transfer {
    background-color: rgba(52, 152, 219, 0.1); /* Azul muy transparente */
    border: 1px solid #3498db;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

QFrame#frame_card_and_transfer{
    color: #ecf0f1;
    font-size: 12px;
}

QLabel#lbl_expected_cash {
    color: #5dade2; 
    font-size: 19px;
    font-weight: bold;
}

QLabel#lbl_general_total {
    color: #2ecc71; 
    font-size: 21px;
    font-weight: bold;
    border-top: 1px solid #3e4f5f;
    padding-top: 8px;
    margin-top: 5px;
}

QLineEdit#input_cash_counted {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #3498db; 
    border-radius: 6px;
    color: #2c3e50;
}

QTextEdit#text_observations_close_register{
    border: 1px solid #dfe4ea;
    border-radius: 6px;
    background-color: #f9f9f9;
}

QFrame#frame_difference_close_register {
    background-color: #f1f2f6;
    border-radius: 6px;
    padding: 10px;
}

QLabel#lbl_difference_close_register{
    font-size: 20px;
    font-weight: bold;
}


QPushButton#btn_finish_close_register{
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 6px;
}

QPushButton#btn_finish_close_register:hover {
    background-color: #34495e;
}

QCheckBox#check_export_report_close_register {
    font-weight: bold;
    color: #7f8c8d;
}


/* ==========================================================
   ESTILOS ESPECÍFICOS DE VENTANA REPORTES
   ========================================================== */

/* Botones */
QPushButton#BtnActualizarLibro {
    background-color: #34495e;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 15px;
}

QPushButton#BtnActualizarLibro:hover {
    background-color: #4c78a3;
    color: white;
}

QPushButton#BtnExportarExcel {
    background-color: #35922c;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 15px;
}

QPushButton#BtnExportarExcel:hover {
    background-color: #27ae60;
    color: white;
}

QPushButton#BtnExportarPDF {
    background-color: #c0392b;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    padding: 8px 15px;
}

QPushButton#BtnExportarPDF:hover {
    background-color: #e9331f;
    color: white;
}


QFrame#ContenedorFiltrosBusqueda {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}

/* Tarjetas Contables */
QFrame#CardContable {
    background-color: #f1f2f6;
    border: 1px solid #dfe4ea;
    border-radius: 8px;
    padding: 10px;
}

QLabel#KpiTituloMini { font-size: 11px; font-weight: bold; color: #7f8c8d; }
QLabel#textoVerde { font-size: 18px; font-weight: bold; color: #27ae60; }
QLabel#textoRojo { font-size: 18px; font-weight: bold; color: #e74c3c; }
QLabel#textoAzul { font-size: 18px; font-weight: bold; color: #2980b9; }

/* ==========================================================
   ESTILOS ESPECÍFICOS DE VENTANA GASTOS
   ========================================================== */

/* Contenedor del Formulario */
QFrame#ContenedorFormGastos {
    background-color: #ffffff;
    border: 1px solid #dfe4ea;
    border-radius: 10px;
    padding: 15px;
}

QLabel#TituloGastos {
    font-size: 16px;
    font-weight: bold;
    color: #e67e22; /* Naranja */
    margin-bottom: 10px;
}

QLineEdit#EntradaMontoGasto {
    font-size: 18px;
    font-weight: bold;
    color: #2c3e50;
    padding: 8px;
    border: 2px solid #f39c12;
    border-radius: 5px;
}

/* Botón Guardar */
QPushButton#BtnGuardarGasto {
    background-color: #e67e22;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
}

QPushButton#BtnGuardarGasto:hover {
    background-color: #d35400;
}

QLabel#SubtituloGastos {
    font-size: 14px;
    font-weight: bold;
    color: #7f8c8d;
}


/* ==========================================================
   ESTILOS ESPECÍFICOS DE VENTANA DEVOLUCIONES
   ========================================================== */

/* 1. Contenedor de Búsqueda (Arriba) */
QFrame#ContenedorBusqueda {
    background-color: #ffffff;
    border-bottom: 2px solid #ecf0f1;
    padding: 5px;
}

/* 2. Barra de Resumen (El banner de información) */
QFrame#BarraResumen {
    background-color: #ebf5fb; /* Un azul pálido muy suave */
    border: 1px solid #d6eaf8;
    border-radius: 6px;
    padding: 10px;
}

QLabel#InfoVentaEncontrada {
    font-size: 14px;
    font-weight: bold;
    color: #2980b9; /* Azul fuerte para destacar el ID */
}

/* 3. Tarjeta Blanca para la Tabla */
QFrame#CardBlanca {
    background-color: #ffffff;
    border: 1px solid #dfe4ea;
    border-radius: 10px;
    padding: 10px;
}

/* 4. Panel Derecho de Acción */
QFrame#PanelDerecho {
    background-color: #ffffff;
    border: 1px solid #dfe4ea;
    border-left: 4px solid #8e44ad; /* Borde morado para indicar acción */
    border-radius: 10px;
    padding: 15px;
}

/* Títulos de Secciones */
QLabel#TituloSeccion {
    font-size: 13px;
    font-weight: bold;
    color: #7f8c8d;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/* 5. Inputs y SpinBox */
QSpinBox, QComboBox {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fdfefe;
}

/* 6. Zona de Reembolso (Resultado Final) */
QLabel#LabelTotalReembolso {
    font-size: 22px;
    font-weight: bold;
    color: #8e44ad;
    padding: 10px;
    background-color: #f4ecf7; /* Fondo morado muy tenue */
    border-radius: 5px;
    margin: 10px 0px;
}

/* 7. Botón Procesar */
QPushButton#BtnProcesarDevolucion {
    background-color: #8e44ad;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

QPushButton#BtnProcesarDevolucion:hover {
    background-color: #7d3c98;
}

QPushButton#BtnProcesarDevolucion:pressed {
    background-color: #6c3483;
}

QLineEdit#EntradaBusquedaDev {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px 12px;     
    font-size: 14px;
    color: #2c3e50;
}

QLineEdit#EntradaBusquedaDev:focus {
    border: 2px solid #3498db; 
    background-color: #faffff;
}

/* --- Estilo para el Botón Buscar --- */
QPushButton#BtnBuscarVenta {
    background-color: #2c3e50; 
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

QPushButton#BtnBuscarVenta:hover {
    background-color: #34495e; 
}

QPushButton#BtnBuscarVenta:pressed {
    background-color: #1a252f; 
    padding-top: 10px;        
}



